Repository taco0513/DINOapp, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, config, dependencies, database, security, performance, github

.github/labeler.yml:

# Configuration for auto-labeling PRs

# Frontend related changes
frontend:
  - app/**/*
  - components/**/*
  - styles/**/*
  - public/**/*
  - '*.css'
  - '*.scss'

# Backend related changes  
backend:
  - app/api/**/*
  - lib/**/*
  - prisma/**/*
  - scripts/**/*

# Documentation changes
documentation:
  - '*.md'
  - docs/**/*
  - LICENSE

# Test related changes
tests:
  - '**/*.test.*'
  - '**/*.spec.*'
  - tests/**/*
  - __tests__/**/*
  - cypress/**/*
  - playwright/**/*

# Configuration changes
config:
  - '*.json'
  - '*.yml'
  - '*.yaml'
  - '.env*'
  - '.gitignore'
  - '.eslintrc*'
  - 'tsconfig*'

# Dependencies
dependencies:
  - package.json
  - pnpm-lock.yaml
  - package-lock.json
  - yarn.lock

# Database changes
database:
  - prisma/**/*
  - migrations/**/*
  - scripts/*sql

# Security related
security:
  - lib/security.ts
  - lib/auth.ts
  - app/api/auth/**/*

# Performance related
performance:
  - lib/monitoring.ts
  - lib/db-performance.ts
  - app/api/analytics/**/*

# GitHub specific
github:
  - .github/**/*

✅ Security: Complete incident resolution - all credentials rotated
  SECURITY_INCIDENT_REPORT.md
  URGENT_SECURITY_ACTION_REQUIRED.md
  tsconfig.tsbuildinfo
Labels: documentation, config

📋 Backlog: Move Gmail sync feature to backlog for v3.0
  .next/app-build-manifest.json
  .next/build-manifest.json
  .next/cache/webpack/client-development/index.pack.gz
  .next/cache/webpack/client-development/index.pack.gz.old
  .next/cache/webpack/edge-server-development/0.pack.gz
  .next/cache/webpack/edge-server-development/index.pack.gz
  .next/cache/webpack/edge-server-development/index.pack.gz.old
  .next/cache/webpack/server-development/index.pack.gz
  .next/cache/webpack/server-development/index.pack.gz.old
  .next/server/app-paths-manifest.json
  .next/server/middleware-build-manifest.js
  .next/server/middleware-manifest.json
  .next/server/next-font-manifest.js
  .next/server/next-font-manifest.json
  .next/server/server-reference-manifest.json
  .next/trace
  BACKLOG.md
  app/gmail-sync/page.tsx
  components/dashboard/QuickActions.tsx
  docs/DINO_CONTEXT_ENGINEERING.md
  docs/DINO_DATA_MIGRATION.md
  docs/DINO_PRODUCTION_REALITY.md
Labels: frontend, documentation

📊 Checkpoint: Gmail backlog processing complete
  PROGRESS.md
  checkpoints/checkpoint-20250803-gmail-backlog-complete.md
Labels: documentation

📚 Master Playbook v4.0 완전 학습 완료 - 36개 모듈 분석 및 DINO 적용 전략 수립
  PROGRESS.md
  checkpoints/checkpoint-20250803-master-playbook-learned.md
Labels: documentation

chore(deps): update dependencies
  package-lock.json
  package.json
Labels: config, dependencies

chore(deps): update dependencies
  package-lock.json
  package.json
Labels: config, dependencies

chore(deps): update dependencies
  package-lock.json
  package.json
Labels: config, dependencies
