Repository taco0513/DINOapp, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, config, dependencies, database, security, performance, github

debug: 환경 변수 및 데이터베이스 연결 디버깅 추가
  app/api/debug/auth/route.ts
  app/api/debug/db/route.ts
Labels: frontend, backend

debug: NextAuth 디버그 모드 활성화 및 세션 디버깅 추가
  app/api/auth/signin-test/route.ts
  app/api/debug/session/route.ts
  lib/auth.ts
Labels: frontend, backend, security

fix: NextAuth 계정 연결 문제 해결 - profile 콜백 추가 및 디버깅 강화
  app/api/debug/reset-user/route.ts
  lib/auth.ts
Labels: frontend, backend, security

UI: Gmail 페이지 미니멀 디자인 시스템 적용 - 색상 버튼 대신 통일된 스타일 사용
  components/gmail/GmailIntegration.tsx
  lib/auth.ts
Labels: frontend, backend, security

feat: 미니멀 디자인 시스템 전체 적용 완료
  app/auth/error/page.tsx
  app/dashboard/monitoring/page.tsx
  app/dashboard/page.tsx
  app/debug/page.tsx
  app/offline/page.tsx
  app/simple.tsx
  app/simple/page.tsx
  app/test-auth/page.tsx
  components/WireframeTripCard.tsx
  components/WireframeTripForm.tsx
  components/calendar/CalendarSync.tsx
  components/data/DataExportImport.tsx
  components/gmail/GmailAnalyzer.tsx
  components/gmail/GmailIntegration.tsx
  components/layout/Header.tsx
  components/layout/MainLayout.tsx
  components/mobile/MobileActionSheet.tsx
  components/mobile/MobileBottomNav.tsx
  components/monitoring/PerformanceDashboard.tsx
  components/notifications/NotificationIcon.tsx
  components/notifications/NotificationList.tsx
  components/notifications/NotificationSettings.tsx
  components/pwa/OfflineIndicator.tsx
  components/pwa/PWAInstallButton.tsx
  components/schengen/FutureTripPlanner.tsx
  components/schengen/SchengenCalculator.tsx
  components/schengen/SchengenChart.tsx
  components/trips/TripForm.tsx
  components/ui/LanguageSelector.tsx
  components/ui/LoadingSpinner.tsx
  components/ui/PageHeader.tsx
  styles/components.css
Labels: frontend

checkpoint: update @ 2025-07-29 03:00 @ 2025-07-29 03:00
  checkpoints/checkpoint-2025-07-29_03-00-update.md
  docs/roadmap.md
Labels: documentation

docs: Update Testing & QA documentation to Korean format
  PROGRESS.md
  documentation/MASTER_PLAYBOOK/09_Testing_QA/README.md
Labels: documentation

🚀 AI 협업 시스템 개발 완료 체크포인트
  checkpoints/checkpoint-ai-collaboration-2025-01-28.md
Labels: none

📅 Session Start Checkpoint - 2025-07-29 03:07
  PROGRESS.md
  checkpoints/session-start-2025-07-29_03-07.md
Labels: documentation

🎉 핵심 비즈니스 로직 구현 완료 - 여행 관리 시스템
  PROGRESS.md
  app/api/trips/[id]/route.ts
  app/api/trips/insights/route.ts
  app/api/trips/route.ts
  app/api/trips/validate/route.ts
  checkpoints/core-business-logic-2025-07-29_03-20.md
  components/travel/EnhancedTripForm.tsx
  components/travel/TravelInsightsDashboard.tsx
  components/travel/TravelManagementPage.tsx
  lib/travel-manager.ts
  prisma/schema.prisma
Labels: frontend, backend, documentation, database

checkpoint: --completed @ 2025-07-29 03:38 @ 2025-07-29 03:38
  checkpoints/checkpoint-2025-07-29_03-38---completed.md
  docs/roadmap.md
Labels: documentation

🚀 Living Documentation 시스템 구축 완료
  .claude/current-focus.md
  .claude/last-quality-score.txt
  .claude/learned-patterns.md
  .claude/project-context.md
  PROGRESS.md
  checkpoints/checkpoint-2025-07-29_03-25-verification-complete.md
  components/common/PageHeader.tsx
  components/ui/dropdown-menu.tsx
  components/ui/select.tsx
  components/ui/textarea.tsx
  docs/errors/2025-07.md
  lib/travel-manager.ts
  package-lock.json
  package.json
  prisma/dev.db
  prisma/migrations/20250728202452_initial_travel_management_schema/migration.sql
  prisma/migrations/migration_lock.toml
  scripts/living-docs/quality-check.sh
  scripts/living-docs/setup-context.sh
  scripts/living-docs/update-context.sh
  scripts/test-api-endpoints.ts
  scripts/test-travel-manager.mjs
  scripts/test-travel-manager.ts
Labels: frontend, backend, documentation, config, dependencies, database

📅 Session Start Checkpoint - 2025-07-29 09:47
  checkpoints/checkpoint-session-start-2025-07-29-09-47.md
Labels: none

checkpoint: update @ 2025-07-29 13:41 @ 2025-07-29 13:41
  checkpoints/checkpoint-2025-07-29_13-41-update.md
  docs/roadmap.md
Labels: documentation

🔐 백업 & 복구 전략 구현 완료
  app/admin/backup/page.tsx
  app/api/backup/route.ts
  app/api/recovery/route.ts
  lib/backup/backup-scheduler.ts
  lib/backup/recovery-manager.ts
  scripts/backup/backup-db.js
  scripts/backup/backup-files.js
  scripts/backup/test-recovery.js
Labels: frontend, backend

🚀 MVP 안정성: 배포 자동화 완료
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package.json
  scripts/deployment/health-check.js
  scripts/deployment/monitor.js
  scripts/deployment/rollback.js
  vercel.json
  vercel.staging.json
Labels: backend, config, dependencies, github

🚀 성능 최적화 시스템 구축 완료
  README.md
  app/api/monitoring/performance/route.ts
  app/layout.tsx
  components/onboarding/OnboardingFlow.tsx
  components/performance/PerformanceMonitor.tsx
  components/ui/optimized-image.tsx
  docs/api/README.md
  docs/development/architecture.md
  docs/development/setup.md
  docs/operations/deployment.md
  docs/operations/troubleshooting.md
  docs/user/getting-started.md
  lib/middleware/performance.ts
  lib/performance/api-cache.ts
  lib/performance/database-optimizer.ts
  lib/performance/dynamic-imports.ts
  lib/performance/resource-optimization.ts
  next.config.js
  package.json
  prisma/performance/indexes.sql
  scripts/performance/database-optimize.js
Labels: frontend, backend, documentation, config, dependencies, database

checkpoint: living-docs-complete @ 2025-07-29 17:27 @ 2025-07-29 17:27
  checkpoints/checkpoint-2025-07-29_17-27-living-docs-complete.md
  docs/roadmap.md
Labels: documentation

checkpoint: session-complete @ 2025-07-29 17:31 @ 2025-07-29 17:31
  checkpoints/checkpoint-2025-07-29_17-31-session-complete.md
  docs/roadmap.md
Labels: documentation

📚 Living Documentation 품질 70% 달성 완료 체크포인트
  checkpoints/checkpoint-living-docs-complete-2025-07-29.md
Labels: none

🧪 유틸리티 함수 테스트 커버리지 확대 - API 캐시 모듈
  __tests__/api/health.test.ts
  __tests__/api/trips-comprehensive.test.ts
  __tests__/components/ErrorBoundary.test.tsx
  __tests__/components/LoadingSpinner.test.tsx
  __tests__/components/SchengenCalculator.test.tsx
  __tests__/components/TripCard.test.tsx
  __tests__/lib/performance/api-cache.test.ts
  __tests__/lib/security/input-validation.test.ts
  app/ai/page.tsx
  app/trips/page.tsx
  checkpoints/checkpoint-utility-tests-api-cache-2025-01-29.md
  docs/roadmap.md
  lib/backup/backup-scheduler.ts
  lib/security/input-validation.ts
  next.config.js
  package-lock.json
  package.json
  parallel-tasks-completion-report.md
  performance-optimization-results.md
  prisma/dev.db
Labels: frontend, backend, documentation, tests, config, dependencies, database

🎉 사용자 설정 시스템 완전 구현 및 UX 대폭 개선
  PROGRESS.md
  app/api/gmail/analyze/route.ts
  app/api/gmail/search/route.ts
  app/calendar/page-old.tsx
  app/calendar/page.tsx
  app/profile/page.tsx
  app/settings/page.tsx
  checkpoints/user-settings-complete.md
  components/calendar/MiniDatePicker.tsx
  components/calendar/StayVisualizationCalendar.tsx
  components/layout/Header.tsx
  lib/gmail.ts
  lib/i18n.ts
  styles/components.css
Labels: frontend, backend, documentation

📍 체크포인트: 현재 상태 점검 및 진행률 85% 달성
  checkpoints/checkpoint-2025-07-29_21-20-current-status.md
  docs/roadmap.md
Labels: documentation

🔧 Database connection errors resolved & error handling enhanced
  PROGRESS.md
  app/api/notifications/route.ts
  app/api/schengen/route.ts
  app/api/stats/route.ts
  app/api/trips/[id]/route.ts
  app/api/trips/insights/route.ts
  app/api/trips/route.ts
  app/api/trips/validate/route.ts
  app/dashboard/error.tsx
  app/dashboard/page.tsx
  checkpoints/checkpoint-database-errors-fixed-2025-07-29.md
  components/error-boundary/ApiErrorBoundary.tsx
  components/layout/Header.tsx
  components/mobile/MobileBottomNav.tsx
  components/onboarding/OnboardingFlow.tsx
  styles/components.css
Labels: frontend, backend, documentation

✅ 여행 일정 캘린더 뷰 구현 완료
  __tests__/components/dashboard/StatsCard.test.tsx
  __tests__/components/ui/SkipLink.test.tsx
  __tests__/hooks/useDebounce.test.ts
  __tests__/hooks/useLocalStorage.test.ts
  __tests__/lib/webVitals.test.ts
  app/analytics/page.tsx
  app/calendar/page.tsx
  app/dashboard/page.tsx
  app/globals.css
  app/layout.tsx
  app/profile/page.tsx
  app/schengen/page.tsx
  app/settings/page.tsx
  app/trips/page.tsx
  bun.lock
  checkpoints/calendar-implementation-2025-07-30.md
  components/calendar/TravelCalendarView.tsx
  components/dashboard/AlertCard.tsx
  components/dashboard/StatsCard.tsx
  components/dashboard/TravelStatsWidget.tsx
  components/mobile/MobileModal.tsx
  components/mobile/MobileNav.tsx
  components/mobile/PullToRefresh.tsx
  components/mobile/SwipeableCard.tsx
  components/onboarding/OnboardingFlow.tsx
  components/schengen/SchengenUsageChart.tsx
  components/trips/MobileTripCard.tsx
  components/trips/TripForm.tsx
  components/ui/OptimizedImage.tsx
  components/ui/SkipLink.tsx
  docs/roadmap.md
  hooks/useDebounce.ts
  hooks/useLocalStorage.ts
  jest.setup.js
  lib/webVitals.ts
  package.json
  styles/mobile.css
  tests/e2e/accessibility.spec.ts
  tests/e2e/mobile.spec.ts
Labels: frontend, backend, documentation, tests, config, dependencies

🌍 국제화 시스템 완전 구현 완료
  app/i18n-test/page.tsx
  components/i18n/TranslationProvider.tsx
  components/ui/EnhancedLanguageSelector.tsx
  hooks/useI18n.tsx
  lib/i18n-batch-update.ts
  lib/i18n-extended.ts
  lib/i18n-utils.ts
  lib/i18n.ts
  package-lock.json
  prisma/dev.db
Labels: frontend, backend, config, dependencies, database

📍 페이지 헤더 표준화 및 서버 안정성 완성
  app/analytics/page.tsx
  app/api/monitoring/metrics/route.ts
  app/api/notifications/route.ts
  app/dashboard/page.tsx
  app/gmail/page.tsx
  app/monitoring/page.tsx
  app/schengen/page.tsx
  app/trips/page.tsx
  checkpoints/2025-07-30-page-header-standardization.md
  components/common/PageHeader.tsx
  components/feedback/FeedbackButton.tsx
  docs/roadmap.md
  lib/database/connection-pool.ts
  lib/performance/dynamic-imports.ts
  lib/performance/dynamic-imports.ts.disabled
Labels: frontend, backend, documentation

📍 체크포인트: 페이지 문서화 39% 완료 및 보안 이슈 해결
  .env.example
  README.md
  app/admin/analytics/page.tsx
  app/admin/backup/page.tsx
  app/admin/metrics/page.tsx
  app/admin/monitoring/page.tsx
  app/admin/performance/page.tsx
  app/ai/page.tsx
  app/api/ai/assist/route.ts
  app/api/ai/generate-code/route.ts
  app/settings/page.tsx
  checkpoints/2025-01-30-documentation-progress.md
  components/admin/BackupManagementDashboard.tsx
  components/admin/MonitoringDashboard.tsx
  components/ai/AIAssistant.tsx
  components/common/PageHeader.tsx
  docs/AI_SERVICE_INTEGRATION_PLAN.md
  docs/pages/README.md
  docs/pages/_template.md
  docs/pages/ai.md
  docs/pages/analytics.md
  docs/pages/calendar.md
  docs/pages/dashboard.md
  docs/pages/gmail.md
  docs/pages/home.md
  docs/pages/index.md
  docs/pages/monitoring.md
  docs/pages/profile.md
  docs/pages/schengen.md
  docs/pages/settings.md
  docs/pages/trips.md
  docs/pages/visa-check.md
  lib/ai/factory.ts
  lib/ai/services/base.ts
  lib/ai/services/mock.ts
  lib/ai/types.ts
  prisma/schema.prisma
Labels: frontend, backend, documentation, config, database

🎨 랜딩페이지 완전 재디자인 - 럭셔리 UI 시스템 구축
  app/api/trips/route.ts
  app/page.tsx
  lib/database/dev-prisma.ts
  styles/components.css
  styles/design-tokens.css
Labels: frontend, backend

✨ 모던 미니멀리스트 UI 재디자인 완료
  app/admin/backup/page.tsx
  app/api/ai/assist/route.ts
  app/page.tsx
  app/pricing/page.tsx
  checkpoints/checkpoint-2025-01-30-modern-ui-redesign.md
  checkpoints/checkpoint-2025-01-30-ui-redesign.md
  components/common/PageHeader.tsx
  components/ui/PageHeader.tsx
  styles/design-tokens.css
Labels: frontend, backend

🎨 스타일 시스템 마이그레이션 시작 - 디자인 토큰 일관성 확보
  app/(dashboard)/integrations/page.tsx
  app/auth/signin/page.tsx
  app/error.tsx
  app/loading.tsx
  app/not-found.tsx
  docs/STYLE-MIGRATION-PROGRESS.md
  styles/design-tokens.css
Labels: frontend, documentation

📍 Checkpoint: 스타일 마이그레이션 15% 완료
  checkpoints/checkpoint-2025-01-30-style-migration.md
Labels: none

🎨 iOS 스타일 구현 및 빌드 오류 수정 완료
  .claude/ERROR_PATTERNS.md
  .claude/PROJECT_GUIDE.md
  CLAUDE.md
  PROJECT_CONTEXT.md
  app/dashboard/page.tsx
  app/globals.css
  app/page.tsx
  bun.lock
  components/ios/IOSDashboard.tsx
  components/ios/IOSHeroSection.tsx
  components/layout/MainLayout.tsx
  components/navigation/IOSNavigation.tsx
  components/navigation/IOSTabBar.tsx
  docs/ERROR_LOG.md
  docs/LIVING_DOCS.md
  docs/components/iOS-COMPONENTS-GUIDE.md
  lib/smart-problem-solving.ts
  package-lock.json
  package.json
  scripts/problem-solver-cli.js
  styles/ios-components.css
  styles/unified-design-system.css
Labels: frontend, backend, documentation, config, dependencies

🎨 iOS UI 수정: 라이트 모드 강제 적용, 카드 배경 흰색으로 설정
  app/globals.css
  components/ios/IOSDashboard.tsx
  styles/ios-components.css
Labels: frontend

🎨 iOS UI 밝기 조정: 부드럽고 눈에 편안한 색감으로 개선
  app/globals.css
  components/ios/IOSDashboard.tsx
  components/navigation/IOSNavigation.tsx
  styles/ios-components.css
Labels: frontend

🎨 iOS UI 가독성 개선: 더 편안한 회색톤 배경으로 조정
  app/globals.css
  components/ios/IOSDashboard.tsx
  components/navigation/IOSNavigation.tsx
  styles/ios-components.css
Labels: frontend

🎨 기본 Tailwind CSS로 완전 초기화
  app/globals.css
  components/ios/IOSDashboard.tsx
  components/layout/MainLayout.tsx
Labels: frontend

WIP: ✨ 완전한 UI 현대화 완료 - Header, Footer, Dashboard 업데이트
  __tests__/components/SchengenCalculator.test.tsx
  __tests__/lib/database.test.ts
  __tests__/lib/performance/api-cache.test.ts
  components/ios/IOSDashboard.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
  lib/performance/api-cache.ts
Labels: frontend, backend, tests

🚀 병렬 개발 완료 - 주요 기능 완전 구현
  __tests__/components/SchengenCalculator.test.tsx
  __tests__/lib/database.test.ts
  __tests__/lib/performance/api-cache.test.ts
  app/settings/page.tsx
  app/trips/new/page.tsx
  app/visa/page.tsx
  checkpoints/checkpoint-parallel-development-complete-2025-07-30.md
  components/Input.tsx
  components/schengen/SchengenCalculator.tsx
  components/trips/NewTripForm.tsx
  components/visa/VisaChecklist.tsx
  components/visa/VisaComparison.tsx
  data/currencies.ts
  data/timezones.ts
  docs/pages/visa.md
  docs/roadmap.md
  lib/visa-database.ts
  lib/visa-utils.ts
Labels: frontend, backend, documentation, tests

🚀 병렬 개발 완료 - 주요 기능 완전 구현
  CHANGELOG.md
  README.md
  app/analytics/page.tsx
  app/api/push/subscribe/route.ts
  app/api/push/vapid-public-key/route.ts
  app/api/version/route.ts
  app/calendar/page.tsx
  app/gmail/page.tsx
  app/layout.tsx
  app/offline/page.tsx
  app/profile/page.tsx
  components/calendar/YearView.tsx
  components/common/LazyLoad.tsx
  components/common/OptimizedImage.tsx
  components/layout/MainLayout.tsx
  components/providers/PWAProvider.tsx
  components/pwa/InstallPrompt.tsx
  components/pwa/OfflineIndicator.tsx
  components/pwa/UpdatePrompt.tsx
  docs/features/analytics.md
  docs/features/calendar.md
  docs/features/gmail-integration.md
  docs/features/pwa.md
  docs/performance/optimization.md
  hooks/usePWA.ts
  lib/performance/config.ts
  lib/performance/monitor.ts
  lib/performance/resource-hints.ts
  lib/pwa/pwa-utils.ts
  lib/pwa/service-worker-config.ts
  public/manifest.json
  public/sw-v2.js
Labels: frontend, backend, documentation

.github/labeler.yml:

# Configuration for auto-labeling PRs

# Frontend related changes
frontend:
  - app/**/*
  - components/**/*
  - styles/**/*
  - public/**/*
  - '*.css'
  - '*.scss'

# Backend related changes  
backend:
  - app/api/**/*
  - lib/**/*
  - prisma/**/*
  - scripts/**/*

# Documentation changes
documentation:
  - '*.md'
  - docs/**/*
  - LICENSE

# Test related changes
tests:
  - '**/*.test.*'
  - '**/*.spec.*'
  - tests/**/*
  - __tests__/**/*
  - cypress/**/*
  - playwright/**/*

# Configuration changes
config:
  - '*.json'
  - '*.yml'
  - '*.yaml'
  - '.env*'
  - '.gitignore'
  - '.eslintrc*'
  - 'tsconfig*'

# Dependencies
dependencies:
  - package.json
  - pnpm-lock.yaml
  - package-lock.json
  - yarn.lock

# Database changes
database:
  - prisma/**/*
  - migrations/**/*
  - scripts/*sql

# Security related
security:
  - lib/security.ts
  - lib/auth.ts
  - app/api/auth/**/*

# Performance related
performance:
  - lib/monitoring.ts
  - lib/db-performance.ts
  - app/api/analytics/**/*

# GitHub specific
github:
  - .github/**/*
