Repository taco0513/DINOapp, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, config, dependencies, database, security, performance, github

🎨 Complete CSS migration to Tailwind + shadcn/ui
  __tests__/lib/cache/memory-cache.test.ts
  app/(dashboard)/integrations/page.tsx
  app/analytics/page.tsx
  app/api/notifications/subscribe/route.ts
  app/globals.css
  app/loading.tsx
  app/notifications/page.tsx
  app/page.tsx
  app/schengen/page.tsx
  app/settings/page.tsx
  app/simple/page.tsx
  app/trips/page.tsx
  app/visa/page.tsx
  checkpoints/checkpoint_20250131_css_migration_complete.md
  components/calendar/MiniDatePicker.tsx
  components/calendar/StayVisualizationCalendar.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
  components/layout/StandardPageLayout.tsx
  components/schengen/FutureTripPlanner.tsx
  components/trips/TripForm.tsx
  components/ui/button.tsx
  docs/roadmap.md
  lib/analytics/travel-analytics.ts
  lib/cache/memory-cache.ts
  lib/data/visa-database.ts
  lib/notifications/push-service.ts
  page-consistency-report.md
  public/manifest.json
  reports/performance/performance-test-2025-07-30T19-04-16-851Z.json
  reports/ux-ia/master-ux-ia-report.md
  scripts/performance/performance-test.js
  styles/components.css.bak
  styles/design-tokens.css
  styles/ios-components.css.bak
  tailwind.config.js
  ui-consistency-audit.md
  ui-improvements-summary.md
Labels: frontend, backend, documentation, tests

docs: Complete design system documentation update
  CHANGELOG.md
  PROGRESS.md
  README.md
  STYLEGUIDE.md
  app/profile/page.tsx
  app/settings/page.tsx
  app/visa/page.tsx
  components/common/PageHeader.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
  docs/COMPONENT_DESIGN.md
  docs/DESIGN_SYSTEM_OVERHAUL_2025.md
  docs/STYLE-MIGRATION-PROGRESS.md
  docs/TECH_STACK.md
Labels: frontend, documentation

🎉 UI 현대화 완료 - Design Token v2 마이그레이션
  app/analytics/page.tsx
  app/calendar/page.tsx
  app/globals.css
  app/gmail/page.tsx
  app/page.tsx
  checkpoints/ui-modernization-complete.md
  components/common/PageHeader.tsx
  components/ios/IOSDashboard.tsx
  components/layout/Header.tsx
  components/layout/StandardPageLayout.tsx
  components/trips/NewTripForm.tsx
  components/ui/EnhancedLanguageSelector.tsx
  components/ui/OptimizedImage.tsx
  components/ui/button.tsx
  scripts/migrate-to-standard-layout.js
  styles/components.css.bak
  styles/ios-components.css.bak
  ui-migration-test-report.md
Labels: frontend, backend, documentation

🔧 빌드 오류 수정 및 의존성 업데이트
  app/settings/page.tsx
  docs/roadmap.md
  package-lock.json
  package.json
Labels: frontend, documentation, config, dependencies

🔧 주요 타입 오류 및 API 호환성 문제 해결
  components/travel/TravelManagementPage.tsx
  lib/webVitals.ts
  sentry.client.config.ts
  sentry.server.config.ts
  tsconfig.json
Labels: frontend, backend, config

🎨 Fix CSS styling issues - migrate from old tokens to Tailwind
  app/error.tsx
  app/globals.css
  app/not-found.tsx
  components/common/PageHeader.tsx
  components/ui/LoadingSpinner.tsx
  prisma/dev.db
Labels: frontend, backend, database

🔧 Fix JavaScript runtime errors and layout issues
  app/layout.tsx
Labels: frontend

🌍 언어 설정 한국어 기본값으로 수정
  lib/i18n.ts
Labels: backend

🎨 페이지 헤더 스타일 통일 및 lint 오류 수정
  app/analytics/page.tsx
  app/calendar/page.tsx
  app/gmail/page.tsx
  components/ios/IOSDashboard.tsx
Labels: frontend

🌟 /visa 페이지 완전 개선 완료
  app/analytics/page.tsx
  app/visa/page.tsx
  components/common/PageHeader.tsx
  hooks/useVisaFilter.ts
  lib/i18n.ts
Labels: frontend, backend

✨ 완전한 layout.tsx 복원 - 성능 모니터링 및 PWA 기능 활성화
  app/layout.tsx
Labels: frontend

📊 docs: 코드 일관성 분석 및 개발 표준 문서화
  .eslintrc.json
  CLAUDE.md
  app/admin/backup/page.tsx
  app/admin/monitoring/page.tsx
  app/ai/page.tsx
  app/analytics/page.tsx
  app/api/ai/assist/route.ts
  app/api/ai/generate-code/route.ts
  app/api/ai/pair-programming/route.ts
  app/api/ai/solve-problem/route.ts
  app/api/analytics/behavior/route.ts
  app/visa/page.tsx
  components/calendar/CalendarSync.tsx
  docs/CODE_CONSISTENCY_REPORT.md
  docs/DEVELOPMENT_STANDARDS.md
  docs/pages/README.md
  docs/roadmap.md
  next.config.js
Labels: frontend, backend, documentation, config, performance

docs: Phase 3 - Component structure standards documentation
  docs/DEVELOPMENT_STANDARDS.md
Labels: documentation

feat: MVP 안정성 개선 완료
  __tests__/e2e/mvp-stability.spec.ts
  app/api/health/route.ts
  app/api/trips/route.ts
  app/layout.tsx
  components/error/ErrorBoundary.tsx
  lib/database/connection-manager.ts
  lib/performance/query-optimizer.ts
  prisma/performance/optimize-indexes.sql
  scripts/stability-validation.js
Labels: frontend, backend, tests, database

🚀 Major code quality improvements - progress checkpoint
  __mocks__/lib/database/db-client.ts
  __mocks__/lib/redis.ts
  __mocks__/lib/session-store.ts
  app/(dashboard)/integrations/page.tsx
  app/admin/backup/page.tsx
  app/ai/page.tsx
  app/analytics/page.tsx
  app/api/admin/database/route.ts
  app/api/ai/generate-code/route.ts
  app/api/ai/pair-programming/route.ts
  app/api/ai/solve-problem/route.ts
  app/api/alerts/route.ts
  app/api/analytics/behavior/route.ts
  app/api/analytics/conversion/route.ts
  app/api/analytics/retention/route.ts
  app/api/auth/logout/route.ts
  app/api/auth/signin-test/route.ts
  app/api/feedback/route.ts
  app/api/health/route.ts
  app/api/metrics/business/route.ts
  app/api/metrics/performance/route.ts
  app/calendar/page.tsx
  app/dashboard/page.tsx
  app/offline/page.tsx
  components/admin/BackupManagementDashboard.tsx
  components/admin/MonitoringDashboard.tsx
  components/ai/AIAssistant.tsx
  components/common/PageHeader.tsx
  components/error/ErrorBoundary.tsx
  components/travel/TravelManagementPage.tsx
  components/visa/VisaComparison.tsx
  types/database.ts
Labels: frontend, backend, security, performance

🎯 TypeScript 오류 대폭 개선 - 128개 해결 완료
  app/(dashboard)/integrations/page.tsx
  app/api/admin/database/route.ts
  app/api/metrics/performance/route.ts
  app/api/trips/route.ts
  checkpoints/2025-01-31-typescript-fixes-progress.md
  components/calendar/CalendarSync.tsx
  docs/roadmap.md
  hooks/usePerformanceMonitor.ts
Labels: frontend, backend, documentation

🔧 TypeScript 오류 수정 진행 중 (545/687 남음)
  app/admin/backup/page.tsx
  app/admin/monitoring/page.tsx
  app/analytics/page.tsx
  app/api/ai/assist/route.ts
  app/api/ai/generate-code/route.ts
  app/api/alerts/route.ts
  app/api/analytics/behavior/route.ts
  app/api/analytics/conversion/route.ts
  app/api/analytics/retention/route.ts
  app/api/backup/route.ts
  middleware.ts
Labels: frontend, backend, performance

✨ 컴포넌트 Props 인터페이스 개선 (539/687 남음)
  components/layout/StandardPageLayout.tsx
  components/ui/badge.tsx
Labels: frontend

🔧 추가 TypeScript 오류 수정 (529/687 남음)
  app/api/backup/route.ts
  app/api/cron/database-maintenance/route.ts
  app/api/errors/route.ts
  app/api/health/db/route.ts
  app/api/metrics/business/route.ts
  app/api/metrics/route.ts
  checkpoints/2025-01-31-typescript-major-progress.md
  hooks/useOffline.ts
  types/global.ts
Labels: frontend, backend

fix: AB testing + API routes + missing models - 500 TS errors (529→500, 29 resolved)
  app/api/errors/route.ts
  app/api/metrics/business/route.ts
  app/api/monitoring/alerts/route.ts
  app/api/monitoring/performance/route.ts
  app/api/notifications/route.ts
  app/api/notifications/subscribe/route.ts
  app/api/schengen/route.ts
  app/api/stats/route.ts
  app/api/trips/[id]/route.ts
  app/api/trips/route.ts
  lib/ab-testing/ab-test-manager.ts
Labels: frontend, backend

fix: critical ESLint errors - PageHeader import + remaining fixes
  app/api/cron/database-maintenance/route.ts
  app/calendar/page.tsx
  app/dashboard/page.tsx
  app/layout.tsx
  app/monitoring/page.tsx
  app/notifications/page.tsx
  app/page.tsx
  app/profile/page.tsx
Labels: frontend, backend

fix: API routes + interface types + spread operators - batch 3
  __mocks__/next/server.ts
  app/admin/monitoring/page.tsx
  app/analytics/page.tsx
  app/api/ai/assist/route.ts
  app/api/feedback/route.ts
  app/profile/page.tsx
  components/common/PageHeader.tsx
  lib/error/error-handler.ts
Labels: frontend, backend

fix: unused interfaces + imports + PageIcons type - batch 4
  app/admin/monitoring/page.tsx
  app/analytics/page.tsx
  app/api/ai/assist/route.ts
  app/notifications/page.tsx
  app/profile/page.tsx
  app/schengen/page.tsx
Labels: frontend, backend

fix: remove unused interfaces completely
  app/admin/monitoring/page.tsx
  app/analytics/page.tsx
  app/api/ai/assist/route.ts
Labels: frontend, backend

fix: 미사용 imports 및 interface 정리 - batch 5
  app/admin/monitoring/page.tsx
  app/notifications/page.tsx
  app/profile/page.tsx
  app/schengen/page.tsx
  app/settings/page.tsx
Labels: frontend

fix: 미사용 imports 및 PageIcons 타입 정리 - batch 6
  app/settings/page.tsx
  app/simple/page.tsx
  app/trips/page.tsx
  app/visa/page.tsx
  components/ai/AIPairProgramming.tsx
Labels: frontend

fix: API 라우트 및 미사용 imports 정리 - batch 7
  app/api/cron/database-maintenance/route.ts
  app/api/health/db/route.ts
  app/api/metrics/route.ts
  app/api/notifications/subscribe/route.ts
  app/settings/page.tsx
  components/ai/ProblemSolver.tsx
  components/analytics/AdvancedAnalyticsDashboard.tsx
Labels: frontend, backend

fix: 미사용 imports 및 타입 오류 정리 - batch 8
  app/settings/page.tsx
  components/calendar/CalendarSync.tsx
  components/calendar/MiniDatePicker.tsx
  components/calendar/StayVisualizationCalendar.tsx
  components/calendar/TravelCalendarView.tsx
  components/calendar/YearView.tsx
  components/common/LazyLoad.tsx
  components/dashboard/TravelStatsWidget.tsx
  components/data/DataExportImport.tsx
  components/error-boundary/ApiErrorBoundary.tsx
Labels: frontend

fix: Passport 아이콘 대체 및 ErrorBoundary 수정 - batch 9
  app/settings/page.tsx
  components/calendar/YearView.tsx
  components/common/LazyLoad.tsx
  components/error/ErrorBoundary.tsx
  components/gmail/GmailAnalyzer.tsx
Labels: frontend

fix: 미사용 변수 및 imports 정리 - batch 10
  components/gmail/GmailAnalyzer.tsx
  components/gmail/GmailIntegration.tsx
  components/layout/Header.tsx
  components/layout/MainLayout.tsx
  components/metrics/BusinessMetricsDashboard.tsx
Labels: frontend

fix: useEffect 반환값 수정 및 미사용 함수 정리 - batch 11
  components/calendar/StayVisualizationCalendar.tsx
  components/gmail/GmailAnalyzer.tsx
  components/layout/MainLayout.tsx
  components/metrics/PerformanceMetricsDashboard.tsx
  components/mobile/MobileModal.tsx
  components/mobile/SwipeableCard.tsx
  components/onboarding/OnboardingFlow.tsx
Labels: frontend

🔧 Fix OnboardingFlow syntax errors batch 12
  components/onboarding/OnboardingFlow.tsx
Labels: frontend

🔧 Fix mixed TypeScript errors batch 13
  app/api/recovery/route.ts
  components/common/LazyLoad.tsx
  components/feedback/FeedbackButton.stories.tsx
  components/layout/MainLayout.tsx
  components/onboarding/OnboardingFlow.tsx
  components/performance/PerformanceMonitor.tsx
  components/providers/MonitoringProvider.tsx
  components/pwa/InstallPrompt.tsx
  components/pwa/OfflineIndicator.tsx
  components/pwa/PWAInstallButton.tsx
  components/schengen/SchengenUsageChart.tsx
Labels: frontend, backend

🔧 TypeScript Batch 14 완료: Travel 컴포넌트 오류 수정 (358→352개, 80.6% 전체 개선)
  PROGRESS.md
  checkpoints/checkpoint-typescript-batch14-2025-01-31.md
  components/layout/MainLayout.tsx
  components/onboarding/OnboardingFlow.tsx
  components/performance/PerformanceMonitor.tsx
  components/travel/EnhancedTripForm.tsx
  components/travel/TravelInsightsDashboard.tsx
  docs/roadmap.md
  lib/travel-manager.ts
Labels: frontend, backend, documentation

🚀 Initialize DINO v3.0 Dashboard Transformation
  V3_ROADMAP.md
Labels: documentation

📦 Update project metadata for v3.0 Dashboard Platform
  README.md
  lib/version.ts
  package.json
Labels: backend, documentation, config, dependencies

📋 v2.0→v3.0 Version Transition Checkpoint Complete
  PROGRESS.md
  checkpoints/checkpoint-20250802-223500.md
  docs/roadmap.md
Labels: documentation

🚀 DINO v3.0 AI 개발 가이드 메이저 업그레이드 완료
  CLAUDE.md
  CLAUDE_v2.0_backup.md
  checkpoints/checkpoint_2025-08-02_dino-v3-upgrade-complete.md
Labels: documentation

🚨 CRITICAL SECURITY FIX: Remove exposed secrets from repository
  .env.local
  .gitignore
  SECURITY_INCIDENT_REPORT.md
Labels: documentation, config

🔒 Security: Complete NEXTAUTH_SECRET rotation and add urgent action guide
  SECURITY_INCIDENT_REPORT.md
  URGENT_SECURITY_ACTION_REQUIRED.md
Labels: documentation

.github/labeler.yml:

# Configuration for auto-labeling PRs

# Frontend related changes
frontend:
  - app/**/*
  - components/**/*
  - styles/**/*
  - public/**/*
  - '*.css'
  - '*.scss'

# Backend related changes  
backend:
  - app/api/**/*
  - lib/**/*
  - prisma/**/*
  - scripts/**/*

# Documentation changes
documentation:
  - '*.md'
  - docs/**/*
  - LICENSE

# Test related changes
tests:
  - '**/*.test.*'
  - '**/*.spec.*'
  - tests/**/*
  - __tests__/**/*
  - cypress/**/*
  - playwright/**/*

# Configuration changes
config:
  - '*.json'
  - '*.yml'
  - '*.yaml'
  - '.env*'
  - '.gitignore'
  - '.eslintrc*'
  - 'tsconfig*'

# Dependencies
dependencies:
  - package.json
  - pnpm-lock.yaml
  - package-lock.json
  - yarn.lock

# Database changes
database:
  - prisma/**/*
  - migrations/**/*
  - scripts/*sql

# Security related
security:
  - lib/security.ts
  - lib/auth.ts
  - app/api/auth/**/*

# Performance related
performance:
  - lib/monitoring.ts
  - lib/db-performance.ts
  - app/api/analytics/**/*

# GitHub specific
github:
  - .github/**/*
