Repository taco0513/DINOapp, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, config, dependencies, database, security, performance, github

.github/labeler.yml:

# Configuration for auto-labeling PRs

# Frontend related changes
frontend:
  - app/**/*
  - components/**/*
  - styles/**/*
  - public/**/*
  - '*.css'
  - '*.scss'

# Backend related changes  
backend:
  - app/api/**/*
  - lib/**/*
  - prisma/**/*
  - scripts/**/*

# Documentation changes
documentation:
  - '*.md'
  - docs/**/*
  - LICENSE

# Test related changes
tests:
  - '**/*.test.*'
  - '**/*.spec.*'
  - tests/**/*
  - __tests__/**/*
  - cypress/**/*
  - playwright/**/*

# Configuration changes
config:
  - '*.json'
  - '*.yml'
  - '*.yaml'
  - '.env*'
  - '.gitignore'
  - '.eslintrc*'
  - 'tsconfig*'

# Dependencies
dependencies:
  - package.json
  - pnpm-lock.yaml
  - package-lock.json
  - yarn.lock

# Database changes
database:
  - prisma/**/*
  - migrations/**/*
  - scripts/*sql

# Security related
security:
  - lib/security.ts
  - lib/auth.ts
  - app/api/auth/**/*

# Performance related
performance:
  - lib/monitoring.ts
  - lib/db-performance.ts
  - app/api/analytics/**/*

# GitHub specific
github:
  - .github/**/*

fix: conditional bundle analyzer loading for production build
  next.config.js
Labels: none

fix: server-side DOMPurify fallback for production build
  lib/security/input-sanitizer.ts
Labels: backend

Fix DOMPurify SSR issue for Vercel deployment
  lib/security/input-sanitizer.ts
Labels: backend

Remove DOMPurify dependency and use server-safe HTML sanitization
  lib/security/input-sanitizer.ts
  package-lock.json
  package.json
Labels: backend, config, dependencies

Remove remaining isomorphic-dompurify import from lib/security.ts
  lib/security.ts
Labels: backend, security

Fix 'self is not defined' error in Vercel deployment
  next.config.js
Labels: none

Add comprehensive fix for 'self is not defined' SSR error
  lib/polyfills.js
  next.config.js
  vercel.json
Labels: backend, config

Simplify webpack configuration - remove complex polyfills
  lib/polyfills.js
  next.config.js
Labels: backend

Fix missing Tailwind CSS directives in production
  app/globals.css
Labels: frontend

Replace inline styles with Tailwind CSS classes in dashboard
  app/dashboard/page.tsx
Labels: frontend

Fix PostCSS configuration for Tailwind CSS
  postcss.config.js
Labels: none

Update CLAUDE.md with wireframe-first development principle
  claude.md
Labels: documentation

Complete minimal wireframe MVP UI design
  app/dashboard/page.tsx
Labels: frontend

Create REAL wireframe design with inline styles
  app/dashboard/page.tsx
Labels: frontend

Convert global navigation to wireframe style
  components/layout/Header.tsx
  components/mobile/MobileBottomNav.tsx
Labels: frontend

Fix global navigation SSR issues with proper CSS classes
  components/layout/Header.tsx
  components/mobile/MobileBottomNav.tsx
Labels: frontend

Fix header visibility with proper responsive logic
  components/layout/Header.tsx
  components/mobile/MobileBottomNav.tsx
Labels: frontend

Fix MainLayout to always show header regardless of auth status
  components/layout/MainLayout.tsx
Labels: frontend

Fix header visibility with explicit height and layout
  components/layout/Header.tsx
Labels: frontend

Fix Tailwind PostCSS configuration and clean reinstall packages
  package-lock.json
Labels: config, dependencies

Move Tailwind dependencies to production dependencies
  package-lock.json
  package.json
Labels: config, dependencies

Fix autoprefixer missing dependency
  package-lock.json
  package.json
Labels: config, dependencies

Re-enable CSRF protection with improved Vercel compatibility
  app/api/schengen/route.ts
  app/api/stats/route.ts
  app/api/test-db/route.ts
  app/api/trips/[id]/route.ts
  app/api/trips/route.ts
  docs/ANALYTICS_DASHBOARD.md
  docs/DATA_MANAGEMENT_SYSTEM.md
  docs/NOTIFICATION_SYSTEM.md
  lib/api-client.ts
  lib/auth.ts
  lib/database/dev-prisma.ts
  lib/database/query-optimizer.ts
  lib/security/csrf-protection.ts
  prisma/dev.db
  prisma/migrations/20250726032603_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.local.prisma
  tasks.md
Labels: frontend, backend, documentation, database, security

Fix logout functionality for Vercel deployment
  components/layout/Header.tsx
  lib/auth.ts
Labels: frontend, backend, security

Add custom logout endpoint and improve logout handling
  app/api/auth/logout/route.ts
  app/page.tsx
  components/layout/Header.tsx
  lib/auth.ts
Labels: frontend, backend, security

Implement dedicated logout page and strengthen logout process
  app/api/auth/logout/route.ts
  app/logout/page.tsx
  app/page.tsx
  components/layout/Header.tsx
  middleware.ts
Labels: frontend, backend, security

Fix logout functionality with custom signout page and enhanced cookie clearing
  app/api/auth/[...nextauth]/route.ts
  app/logout/page.tsx
  lib/auth.ts
Labels: frontend, backend, security

Fix ERR_TOO_MANY_REDIRECTS by simplifying logout flow
  app/logout/page.tsx
  docs/SUPERCLAUSE_COMMAND_REFERENCE.md
  docs/SUPERCLAUSE_VIBE_CODING_GUIDE.md
  lib/auth.ts
  middleware.ts
Labels: frontend, backend, documentation, security

Implement force logout with server-side cookie clearing
  .DS_Store
  app/api/auth/[...nextauth]/route.ts
  app/api/force-logout/route.ts
  app/logout/page.tsx
  docs/CONTEXT7_VIBE_CODING_PLAYBOOK.md
  lib/auth.ts
Labels: frontend, backend, documentation, security

Implement comprehensive notification system and multi-language support
  .DS_Store
  __tests__/e2e/app-functionality.spec.ts
  __tests__/e2e/auth.spec.ts
  app/api/gmail/check/route.ts
  app/api/notifications/route.ts
  app/api/trips/[id]/route.ts
  app/api/trips/route.ts
  app/dashboard/page.tsx
  app/globals.css
  app/schengen/page.tsx
  app/trips/page.tsx
  components/notifications/NotificationIcon.tsx
  components/trips/TripForm.tsx
  components/ui/LanguageSelector.tsx
  components/ui/LanguageTest.tsx
  docs/BMAD_METHOD_WORKFLOW_PLAYBOOK.md
  lib/api-client.ts
  lib/auth.ts
  lib/i18n.ts
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  playwright-report/data/10c1e1ff6d2e0ba64f3ad2c01b08a8d60a55380e.webm
  playwright-report/data/11f86a82f4fdf991a9bb16d3d4b9dbefd941e26a.md
  playwright-report/data/d3ed42af49336c0378c829dd244e236519579fec.png
  playwright-report/index.html
  playwright-results.json
  postcss.config.js
  prisma/prisma/dev.db
  prisma/schema.dev.prisma
  public/sw.js
  test-results/.last-run.json
  test-results/app-functionality-App-Func-746b0--handle-authentication-flow-chromium/error-context.md
  test-results/app-functionality-App-Func-746b0--handle-authentication-flow-chromium/test-failed-1.png
  test-results/app-functionality-App-Func-746b0--handle-authentication-flow-chromium/video.webm
  test-results/app-functionality-App-Func-8016f-CSS-and-JavaScript-properly-chromium/error-context.md
  test-results/app-functionality-App-Func-8016f-CSS-and-JavaScript-properly-chromium/test-failed-1.png
  test-results/app-functionality-App-Func-8016f-CSS-and-JavaScript-properly-chromium/video.webm
Labels: frontend, backend, documentation, tests, config, dependencies, database, security

chore(deps): update dependencies
  next-env.d.ts
  package-lock.json
  package.json
Labels: config, dependencies

fix: Vercel 빌드 에러 수정 - husky 스크립트 조건부 실행
  package.json
Labels: config, dependencies

fix: Rename analytics file to .tsx and resolve ESLint issues
  lib/analytics/vercel.tsx
Labels: backend

fix: 홈페이지 클라이언트 사이드 렌더링 문제 해결
  app/page.tsx
  components/auth/SessionCheck.tsx
Labels: frontend

fix: 로그인 루프 문제 해결 - SessionCheck 컴포넌트 개선
  components/auth/SessionCheck.tsx
Labels: frontend

fix: 로그인 루프 완전 해결 - middleware와 auth 리디렉션 로직 개선
  VERCEL_ENV_CHECKLIST.md
  lib/auth.ts
  middleware.ts
Labels: backend, documentation, security

fix: 로그인 루프 최종 해결 - 디버그 엔드포인트 추가 및 callbackUrl 처리 개선
  VERCEL_ENV_CHECKLIST.md
  app/api/debug/auth/route.ts
  app/auth/signin/page.tsx
Labels: frontend, backend, documentation

fix: 로그인 루프 최종 해결 - 쿠키 도메인 설정 수정
  app/api/debug/auth/route.ts
  lib/auth.ts
Labels: frontend, backend, security

fix: NextAuth 쿠키 설정 심플화 - 기본 설정으로 복원
  app/api/auth/test/route.ts
  lib/auth.ts
  middleware.ts
Labels: frontend, backend, security

fix: NextAuth 쿠키 이름 프로덕션 환경에 맞게 수정 - __Secure 접두사 추가
  lib/auth.ts
  middleware.ts
Labels: backend, security
